.formulario-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 6%;
}

.formulario-cadastro h2, h2, p, h4, .sw {
  text-align: center;
  margin: 10px;
}

.formulario-cadastro label {
  margin: 10px;
  font-size: large;
}

.formulario-cadastro input {
  font-size: large;
}

.formulario-cadastro select {
  margin-left: 10px;
  font-size: large;
}

.formulario-cadastro button {
  background-color: rgb(36, 123, 209);
  color: aliceblue;
  font-size: large;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
}

.formulario-cadastro button:disabled {
  opacity: 50%
}

table {
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  text-align: center;
  width: auto;
}

th {
  background-color: rgb(24, 58, 109);
  color: white;
  /* font-size: large; */
  font-variant: small-caps;
  margin: 10px 0;
  padding: 10px;
  border-style: groove;
}

td {
  background-color: rgb(36, 123, 209);
  margin: 10px;
  /* padding: 10px; */
  border-style: groove;
}

.rota {
  display: flex;
  justify-content: center;
  background-color: rgb(36, 123, 209);
  color: aliceblue;
  font-size: large;
  width: 45%;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
}

.link {
  text-decoration: none;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.sw-btn {
  background: #e4dfdf;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.5s;
}

.sw-spn {
  display: block;
  background: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: 0.2px;
  transition: background 0.5s, margin-left 0.5s;
}


.sw-btn .active {
  background-color: dodgerblue;
}

.active span {
  background: #fff;
  margin-left: 20px;
}
