.formulario-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 0.5%;
}

.formulario-cadastro h2, h2, p, h4, .sw {
  text-align: center;
  margin: 10px;
}

.formulario-cadastro label {
  margin: 10px;
  font-size: large;
}

.formulario-cadastro input {
  font-size: large;
  width: 30%;
}

.formulario-cadastro select {
  font-size: large;
  width: 30%;
}

.standardBtn {
  background-color: rgb(36, 123, 209);
  color: aliceblue;
  font-size: large;
  width: 34%;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
}

.standardBtn:disabled {
  opacity: 50%
}

table {
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  text-align: center;
  width: auto;
  margin-top: 2.5%;
}

th {
  background-color: rgb(24, 58, 109);
  color: white;
  font-size: large;
  font-variant: small-caps;
  margin: 10px 0;
  padding: 10px;
  border-style: inset;
}

td {
  background-color: rgb(252, 252, 252);
  margin: 10px;
  border-style:ridge;
}

.rota {
  display: flex;
  justify-content: center;
  background-color: rgb(36, 123, 209);
  color: aliceblue;
  font-size: large;
  width: 40%;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
}

.link {
  text-decoration: none;
}

.seta-img {
  width: 60px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.logo-img {
  width: 25%;
  padding-top: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.logo-text {
  margin: auto;
  font-style: italic;
  color: rgb(24, 58, 109);
}

.sw-btn {
  background: #e4dfdf;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.5s;
}

.sw-spn {
  display: block;
  background: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: 1px;
  transition: background 0.5s, margin-left 0.5s;
}


.sw-btn .active {
  background-color: dodgerblue;
}

.active span {
  background: #fff;
  margin-left: 20px;
}

.x {
  color: red;
  font-size: xx-large;
  font-weight: 500;
  margin: auto;
  padding: 0 20%;
  border: none;
  background-color: white;
}

.header-tables {
  margin: auto;
}

.nearly-app {
  background-color: lawngreen;
  font-size: xx-large;
  color: rgb(36, 123, 209);
}

.nearly-leg {
  font-size: large;
  color: rgb(36, 123, 209);
}

caption {
  font-weight: 700;
  color:rgb(24, 58, 109);
}
